<section id="footer">

  <section id="cta">

    <h3 class="cta-h3">Get our App on your Phone today!</h3>
    <a href="https://www.apple.com/in/app-store/"><button type="button" class="card-text btn btn-outline-light btn-lg cta-dwn"><i class="fab fa-apple"></i> Download</button></a>
    <a href="https://play.google.com/store"><button type="button" class="card-text btn btn-outline-light btn-lg cta-dwn"><i class="fab fa-google-play"></i> Download</button></a>

  </section>

  <div class="foot-ele">
    <a href="https://www.facebook.com"><i class="social-icon fab fa-facebook-f fa-2x"></i></a>
    <a href="https://twitter.com"><i class="social-icon fab fa-twitter fa-2x"></i></a>
    <a href="https://www.instagram.com"><i class="social-icon fab fa-instagram fa-2x"></i></a>
    <a href="https://gmail.com"><i class="social-icon fas fa-envelope fa-2x"></i></a>


    <p class="foot-text">© Copyright 2021 Pearl Restaurant</p>
  </div>
</section>

</body>

</html>
