<%- include("partials/header") -%>

<div class="skills">
  <div class="skill-row">
    <img class="img2" src="./images/img-06.jpg" alt="">
    <h3 class="card-title">Our Place - Since 1975</h3>
    <p class="card-text">Enjoyable and comfortable atmosphere in the heart of Bangalore. Royal view of the Palma bay in the sunset will take your breath away and make your stay truly royal. You can also visit our terrace bar where our professional staff will offer you our best vines or cocktails, according to your wishes.</p>
  </div>
  <div class="skill-row">
    <img class="img3" src="./images/img-05.jpg" alt="">
    <h3 class="card-title">Our Approach - Always Fresh Ingredients</h3>
    <p class="card-text">Here at Pearl Restaurant, we work with only the best food supliers like small family farms, insuring that we always have the best and always fresh ingredients. You’ll find a large variety of dishes made to satisfy any taste, from sea food, steaks, variety of natural soups, pasta, salads, finest deserts and vines..</p>
  </div>
</div>

<%- include("partials/footer") -%>
