<%- include("partials/header") -%>

<div class="row">

  <div class="location col-lg-4 col-md-6">
    <img src="./images/img-04.jpg" class="card-img-top location-img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bangalore North</h5>
      <p class="card-text"></p>
      <p class="card-text">Pearl Restaurant Indoors, Royal Club Avenue, Bangalore, Karnataka, 530854</p>
    </div>
    <h5 class="card-title" style="font-size: 1.6rem !important;">Opening Hours</h5>
    <ul class="list-group-flush">
      <li class="list-group-item card-text">Mon - Fri: 08:00 am - 10:00 pm</li>
      <li class="list-group-item card-text">Sat - Sun: 10:00 am - 11:00 pm</li>
    </ul>
    <h5 class="card-title" style="font-size: 1.6rem !important;">Contact</h5>
    <ul class="list-group-flush">
      <li class="list-group-item card-text">+91 9887665430</li>
      <li class="list-group-item card-text">info@pearlnorth.com</li>
    </ul>
  </div>

  <div class="location col-lg-4 col-md-6">
    <img src="./images/img-06.jpg" class="card-img-top location-img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bangalore Center</h5>
      <p class="card-text"></p>
      <p class="card-text">Pearl Restaurant Indoors, 22nd Sunrise Street, Bangalore, Karnataka, 580824</p>
    </div>
    <h5 class="card-title" style="font-size: 1.6rem !important;">Opening Hours</h5>
    <ul class="list-group-flush">
      <li class="list-group-item card-text">Mon - Fri: 08:00 am - 10:00 pm</li>
      <li class="list-group-item card-text">Sat - Sun: 10:00 am - 11:00 pm</li>
    </ul>
    <h5 class="card-title" style="font-size: 1.6rem !important;">Contact</h5>
    <ul class="list-group-flush">
      <li class="list-group-item card-text">+91 9887665431</li>
      <li class="list-group-item card-text">info@pearlcenter.com</li>
    </ul>
  </div>

  <div class="location col-lg-4 col-md-6">
    <img src="./images/service.jpg" class="card-img-top location-img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bangalore South</h5>
      <p class="card-text"></p>
      <p class="card-text">Pearl Restaurant Indoors, 43rd Palm Cross, Bangalore, Karnataka, 560350</p>
    </div>
    <h5 class="card-title" style="font-size: 1.6rem !important;">Opening Hours</h5>
    <ul class="list-group-flush">
      <li class="list-group-item card-text">Mon - Fri: 08:00 am - 10:00 pm</li>
      <li class="list-group-item card-text">Sat - Sun: 10:00 am - 11:00 pm</li>
    </ul>
    <h5 class="card-title" style="font-size: 1.6rem !important;">Contact</h5>
    <ul class="list-group-flush">
      <li class="list-group-item card-text">+91 9887665432</li>
      <li class="list-group-item card-text">info@pearlsouth.com</li>
    </ul>
  </div>

</div>

<%- include("partials/footer") -%>
